html {
height: 100%;
box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit;
scroll-behavior: smooth;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
overflow: hidden;
}

body {
height: 100%;
display: flex;
flex-direction: column;
font-family: 'Arial', 'sans-serif';
font-size: 16px;
line-height: 1.5;
margin: 0;
padding: 0;
background-color: #f2f2f2;
}

img {
max-width: 100%;
height: auto;
vertical-align: middle;
}

li
{
   list-style: none;
   text-decoration: none;
   margin: 0;
   padding: 0;
   
}

.main {
flex-grow: 1;
}


.container {
    max-width: 1100px;
    margin-left: 25px;
    margin-right: 25px;
    margin-left: auto;
    margin-right: auto;
}

.hero {
    padding-top: 25px;
}

.hero .container {
    max-width: 900px;
    height: 600px;
    background-image: url("./img/devorr.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}


.box  {
    width: 585px;
    height: 390px;
    background-image: url("./img/rasim.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    transform: translate(25% , 30%);
}

.box__info__item {
    display: flex;
    max-width: 600px;
    height: 400px;
    border: 12px solid  rgb(70, 60, 60);
    transform: translate(0% , 0%);
}

.box__item  {
    width: 299px;
    height: 387px;
    z-index: 1;
    background-color:rgb(212, 235, 222);
    border: 10px solid rgb(70, 60, 60);
    transition: all 1s ease;
}

.box__item:hover {
    transform: translate(-100%);
}

.box__item +.box__item:hover {
    transform: translate(100%);
}
